{
  "did_allowlist": [did:plc:ewvi7nxzyoun6zhxrhs64oiz"],
  "discord_guild_id":  "613425648685547541",
  "discord_client_id": "",
  "discord_client_secret": "",
  "tailscale_sock": "/var/run/tailscale/tailscaled.sock",
  "hostname": "auth.example.com",
}
